<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PortalCV</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/grayscale.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <img src="assets/img/icono.png" alt="icono" srcset="">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">PORTALCV</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contacto</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Acceder</a>
              <div class="dropdown-menu dropdown-menu-lg-right m-4">
                  <form class="px-4 py-3">
                      <h3 class="text-primary text-center mt-2 mb-4">Ingresar</h3>  
                    <div class="form-group">
                      <label for="exampleDropdownFormEmail1">Email</label>
                      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleDropdownFormPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Recordarme
                        </label>
                      </div>
                    </div>
                    <a href="" type="submit" class="button btn-primary">Ingresa</a>
                  </form>
                  <div class="dropdown-divider"></div>
                  <!-- <a class="dropdown-item" href="#">New around here? Sign up</a> -->
                  <a class="dropdown-item" href="#">Se te olvido la contraseña?</a>
                </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase" text="#ffff">PortalCV</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">!PortalCV la platforma donde puedes crear tu portafolio de hoja de vida y mostrarla al mundo!</h2>
        <button data-toggle="modal" data-target="#exampleModal" href="#about" class="btn btn-primary js-scroll-trigger">Registrate</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body form-row">
                <div>
                <form>
                  <div class="form-row">
                  <div class="form-group col-md-6">
                      <div class="col-1">
                          <label for="message-text" class="col-form-label">Nombres:</label>
                      </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                     </div>
                  </div>
                  <div class="form-group col-md-6">
                      <div class="col-1">
                          <label for="message-text" class="col-form-label">Apellidos:</label>
                      </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
                     </div>
                  </div>
                  <div class="col-2">
                      <label for="message-text" class="col-form-label">Email:</label>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope-square"></i></span>
                      </div>
                      <input placeholder="example@outlook.com" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                     </div>
                  </div>
                  <div class="col-3">
                      <label for="message-text" class="col-form-label">Contraseña:</label>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                     </div>
                  </div>
                  <div class="col-5">
                      <label for="message-text" class="col-form-label">Confirmar contraseña:</label>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                     </div>
                  </div>
                </div>
                </form>
               </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="button-cls" data-dismiss="modal">Close</button>
                <button type="submit" class="button" data-dismiss="modal">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">PortalCV</h2>
          <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          The theme is open source, and you can use it for any purpose, personal or commercial.</p>
        </div>
      </div>
      <img src="assets/img/trabajo.png" class="img-fluid" alt="">
    </div>
  </section>

 <!-- Projects Section -->
 <section id="projects" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="assets/img/hoja_de_vida.jpg" alt="" width="600px">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>¿Quienes somos?</h4>
            <p class="text-black-50 mb-0">Somos un grupo de estudiantes del Sena, aprendices en programación, y hemos diseñado este
            sitio web con el propósito de que le muestres tu hoja de vida al mundo, hazles saber que existes y cuales son tus capacidades, tus experiencias laborales y tus conocimientos.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-100">
        <div class="col-lg-4">
          <img class="img-fluid" src="assets/img/student.jpeg" alt="" width="220px">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Johan Arcangel Cataño</h4>
                <p class="mb-0 text-white-50">Soy Johan Arcangel Cataño, la verdad aveces no me gusta hacer ni mierda!</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="assets/img/vacio.jpg" alt="" width="720px">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Santiago Marín</h4>
                <p class="mb-0 text-white-50">¡Hola!, soy Santiago, un joven de 23 años, amante de la programación y las bases de datos,
                me gustaría especializarme en BigData, me gusta programar en C#, Python y PHP, en mis tiempos libres me gusta jugar videojuegos y tocar bajo, espero sea de tu agrado esta página.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Envianos un mensaje</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Email">
            <button type="submit" class="btn btn-primary mx-auto">Subscribete</button>
          </form>

        </div>
      </div>
    </div>
  </section>

 <!-- Contact Section -->
 <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Dirección</h4>
              <hr class="my-4">
              <div class="small text-black-50">Sena Pedregal - Carrera 68 #104, Complejo Norte, Medellín, Antioquia</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Correo</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">portalcv@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Teléfono</h4>
              <hr class="my-4">
              <div class="small text-black-50">301 6230461 - 301 7871066</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Grupo ADSI 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/grayscale.min.js"></script>

</body>

</html>
